.helloWorld {
  background-color: steelblue;
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  font-size: 50px;
  color: white;
  padding-top: calc(50% - 25px);
  text-align: center;
}
